---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1>cute aggression</h1>

        <div class="social-links">
            <a target="_blank" href="https://www.instagram.com/cute_aggression_music">instagram</a>
            <a target="_blank" href="https://open.spotify.com/intl-de/artist/1IZZeL0ylPGmZlomCuVzXJ?si=UXlEIxg6SNG1bn89RPCSNw">spotify</a>
            <a target="_blank" href="https://cuteaggressionmusic.bandcamp.com">bandcamp</a>
            <a target="_blank" href="https://drive.google.com/drive/folders/1GwIzbjxxkbSLlQfv0d8AmRoVmMlS_AN2?usp=sharing">press</a>
            <a target="_blank" href="mailto:erika.schweighofer@gmail.com">contact</a>
        </div>

        <div class="bio">
            <p>cute aggression make music. music that you like. or don’t. to cute aggression that doesn’t matter. come by when cute aggression play a concert. they play synthesizers and drum machines and guitars and stuff. or maybe they don’t. maybe they just play with your expectations.</p>
            <p>currently recording our first album.</p>
            <p><b>XOXO</b></p>
        </div>

        <h2>news</h2>
        <div class="news-container">
            <div class="news-item single">
                <p>24.06.2025</p>
                <h3><b>concert: </b>kramladen wien, with Lillie Creatures</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">click me baby</a>
                </div>
            </div>
            <div class="news-item">
                <p>a long long time ago</p>
                <h3><b>concert: </b>sargfabrik wien, GARDENS album release support</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">don't clikc pls no</a>
                </div>
            </div>
            <div class="news-item single">
                <p>27.09.2024</p>
                <h3><b>concert: </b>b72 wien, ischia album release support</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">click clack click</a>
                </div>
            </div>
            <div class="news-item">
                <p>13.09.2024</p>
                <h3><b>concert: </b>kramladen wien, halal hardcore album release support</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">this is the link to the concert</a>
                </div>
            </div>
            <div class="news-item">
                <p>04.07.2024</p>
                <h3><b>concert: </b>Kultursommer Stadt Wien</h3>
                <div>
                    <a href="https://kultursommer.wien/act/?id=336601-aaronerika3&lang=de">look mom</a>
                </div>
            </div>
            <div class="news-item">
                <p>08.12.2023</p>
                <h3><b>concert: </b>extremely secret gig</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">dont click here</a>
                </div>
            </div>
            <div class="news-item">
                <p>30.03.2024</p>
                <h3><b>concert: </b>ostern in der mühle</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">it was fun, see</a>
                </div>
            </div>
            <div class="news-item single">
                <p>14.02.2024</p>
                <h3><b>new single: </b>Talking About Music</h3>
                <div>
                    <a href="https://aaronerika.bandcamp.com/track/talking-about-music">listen listen listen :-O</a>
                </div>
            </div>
            <div class="news-item">
                <p>19.01.2024</p>
                <h3><b>concert: </b>rundgang der akademie der bildenden künste</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">dont click here</a>
                </div>
            </div>
            <div class="news-item">
                <p>08.12.2023</p>
                <h3><b>concert: </b>extremely secret gig</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">dont click here</a>
                </div>
            </div>

            <div class="news-item single">
                <p>24.11.2023</p>
                <h3><b>new single: </b> Bad Feminist</h3>
                <div>
                    <a href="https://distrokid.com/hyperfollow/aaronerika3/bad-feminist"> presave </a>
                    <a href=""> listen</a>
                </div>
            </div>

            <div class="news-item">
                <p>22.11.2023</p>
                <h3><b>concert: </b>tunnel vienna</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">click here to earn free coins</a>
                </div>
            </div>

            <div class="news-item">
                <p>08.10.2023</p>
                <h3><b>concert: </b>ministry of artists vienna</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">spicy pics</a>
                </div>
            </div>

            <div class="news-item">
                <p>26.05.2023</p>
                <h3><b>concert: </b>secret gig baby</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">download now</a>
                </div>
            </div>

            <div class="news-item">
                <p>14.1.2023</p>
                <h3><b>concert: </b>toytopia vienna</h3>
                <div>
                    <a href="https://">instagram</a>
                </div>
            </div>

            <div class="news-item">
                <p>20.12.2022</p>
                <h3><b>concert: </b>p.m.k. innsbruck</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx"> event</a>
                </div>
            </div>
        </div>
        <footer>
            website by aaron abebe
        </footer>
    </main>
</Layout>
<script is:inline>
document.addEventListener('DOMContentLoaded', function() {
  const links = document.querySelectorAll('a');
  
  links.forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      
      const backgroundImage = '/fireskull.gif';
      
      document.documentElement.style.background = `url('${backgroundImage}')`;
      
      const href = this.href;
      setTimeout(function() {
        window.open(href, '_blank');
      }, 400);;
    })
  });
});

</script>

<style>

    :root {
        --primary: #f0f;
        --secondary: #000;
        --tertiary: #0ff;
    }
    main {
        margin: auto;
        padding: 10px;
        width: 90%;
        height: 100vh;
        max-width: calc(100% - 2rem);
        font-size: 17px;
        line-height: 1.6;
        scrollbar-color: var(--primary) var(--secondary);
        overflow-y: scroll;
    }

    footer {
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background: var(--tertiary);
    }

    .social-links {
        display: flex;
        background: var(--primary);
        justify-content: space-evenly;
        flex-direction:column;
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        background: var(--primary);
        color: var(--secondary);
        padding: 10px;
        /* text-align: center; */
        font-style: italic;
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: underline;
        width: fit-content;
        background: var(--primary);
    }

    .bio {
        background: var(--primary);
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        padding-top: 1rem;
        border-bottom: 2px dashed;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        background: var(--primary);
    }

    .single {
        background: var(--tertiary);
    }

    p {
        margin: 0;
        padding: 10px;
    }

    h3 {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 500;
    }

    a {
        font-size: 1rem;
        font-weight: 500;
        border: 2px solid;
        padding: 10px;
        color: var(--secondary);
        background: var(--tertiary);
        margin-right: 15px;
        display: inline-block;
    }

    a:hover {
        color: var(--tertiary);
        background: var(--primary);
        cursor: pointer;
        transform: scale(1.2);
    }

    summary {
        font-size: 2rem;
        font-weight: 100;
    }


    /* scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @media screen and (min-width: 600px) {
        main {
            width: 50%;
            padding: 1rem;
        }

        .social-links {
            flex-direction: row;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        .news-item {
            width: 60%;
        }

        .news-container {
            width: 100%;
        }

        a {
            font-size: 1rem;
        }

        summary {
            font-size: 1rem;
        }
    }

</style>
